<div c1ass="text-cenier">

<h1 class="text—inf0">Inquiry Confirmation</h1>
<p>We have recieved your inquiry and someone from our team will contact yum shortly!</p>
<img src="~/images/patio.jpg" width="80%" />

</div>
